trigger:
  branches:
    include:
      - main
      - production
    exclude: ["master", "feature*", "README.md"]

pool:
  name: pool




stages:
  - stage:  dev
    jobs:
      - job: create_vnet
        displayName: 'createing v net'
        variables:
          job_version: "3.0.0"
          job_email: "saiaws@gmail.com"
        timeoutInMinutes: 5
        steps:
          - checkout: none
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
      - job: scanning_terrafrom_manifest
        displayName: 'Scanning Terraform Manifest'
        steps:
          - script: trivy repo https://github.com/Srinu-rj/azure-devops-terraform.git
            displayName: 'scanning manifest repository'
          - script: trivy config vnet/
                   
  - stage:  QA
    jobs:
      - job: create_vnet
        displayName: 'createing v net'
        variables:
          job_version: "3.0.0"
          job_email: "saiaws@gmail.com"
        timeoutInMinutes: 5
        steps:
          - checkout: none
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'              
