trigger:
  branches:
    include:
      - main
      - production
    exclude: ["master", "feature*", "README.md"]

pool:
  name: pool

variables:
  - group: globel-variables


stages:
  - stage:  dev
    pool:
     name: pool
    jobs:
      - job: create_vnet
        displayName: 'createing v net'
        variables:
          job_version: "3.0.0"
          job_email: "saiaws@gmail.com"
        timeoutInMinutes: 5
        steps:
          - checkout: none
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
      - job: scanning_terrafrom_manifest
        displayName: 'Scanning Terraform Manifest'
        steps:
          - script: trivy repo https://github.com/Srinu-rj/azure-devops-terraform.git
            displayName: 'scanning manifest repository'
          - script: trivy config vnet/ 
      - job: terraform_plam
        displayName: 'Terraform Plan'
        steps:
          - task: TerraformTaskV4@4
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(Build.SourcesDirectory)/agent-vm'
              backendServiceArm: 'Azure subscription 1(25e8c454-3a15-4844-8f5b-c9998fd32ba9)'
              backendAzureRmResourceGroupName: 'v-net'
              backendAzureRmStorageAccountName: 'mystorage1791'
              backendAzureRmContainerName: 'tfstates'
              backendAzureRmKey: 'vm.tfstate'
             
                   
  - stage:  QA
    pool: 
      name: pool
    jobs:
      - job: create_vnet
        displayName: 'createing v net'
        variables:
          job_version: "3.0.0"
          job_email: "saiaws@gmail.com"
        timeoutInMinutes: 5
        steps:
          - checkout: none
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'  
      - job: scanning_terrafrom_manifest
        displayName: 'Scanning Terraform Manifest'
        steps:
          - script: trivy repo https://github.com/Srinu-rj/azure-devops-terraform.git
            displayName: 'scanning manifest repository'
          - script: trivy config vnet/ 
            displayName: 'valunaburites checking '                    
