trigger:
  branches:
    include:
      - main
      - production
    exclude: ["master", "feature*", "README.md"]

pool:
  name: pool
  demands:
    - JDK -equals 17
    - Terraform -equals Yes
    - Agent.Name -equals ProdADO


variables:
- group: globel-variables   # reference your variable group
- name: globel_version
  value: "1.0.0"
- name: global_email
  value: "dnsrinu143@gmail.com"
- name: isDev
  value: $[eq(variables['Build.SourceBranch'], 'refs/heads/development')]
- name: isProd
  value: $[eq(variables['Build.SourceBranch'], 'refs/heads/production')]

stages:
  - stage:  vnet
    jobs:
      - job: create_vnet
        displayName: 'createing v net'
        variables:
          job_version: "3.0.0"
          job_email: "saiaws@gmail.com"
        timeoutInMinutes: 5
        steps:
          - checkout: none
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
